body {
    font-family: 'Poppins', sans-serif;
}
h2 {
    font-size: 50px;
}
.name-highlight {
    color: orange;
}
.half-width {
    width: 50%;
    float: left;
}
.half-width img {
    width: 100%;
}